/* @import ''; */
/* @@import "manual.css"; */
#myman{
  background-color: cornflowerblue;
}

body{
  height: 100vh;
  background: linear-gradient(.75turn, #00b8fff2,#b8abf3);
}

#contentContainer{
  display: flex;
  /* border: 1px solid yellow; */
  justify-content: center;

}
#ScrnMenu{
    width: 91px;
    height: 168px;
    padding: 14px;
    margin: 10px;
    margin-top: 210px;
    border-style: solid;
    border-width: 2px;
}

#menulist{
  list-style: none;
  padding: 0px;
  margin: 0px;

}

li{
  padding-bottom:10px;
}

#infoScrn{
/* border:2px solid black; */
background: white;
width: 690px;
height: 515px;
margin: 10px;
padding: 14px;
}





















/* button styling */
button{
  display: inline-block;
  padding: 10px 22px;
  border: 1px solid;
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif;
}

/* .btnback{
  margin-top: 2px;
} */

.btnadjust{
    margin:20px;
}



/* containerFrame */
.containerFrame{
  height: 678px;
}

/* SelectContainer */

.SelectContainer{
  max-width: 898px;
  margin:0 auto;
  margin-top: 70px;
  /* border:1px solid pink; */
  display: flex;
  /* align-items: center,stretch; */
}


/* select path stytling starts here */
.select_path{
  background-color: yellow;
  margin: 10px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex:1;
  flex-wrap: wrap;
}

.select_path > *{
  flex:1 1 100%;
}

.select_path .btnNext{
  align-self: flex-end;
}

.topNavprop{
  margin-bottom: 2px;
}

/* studentpath */
.rightCorner{
    margin-right: 30px;
    margin-top: 2px;

}
/* student sliding tab navigation */
.slideTab{
  width: 30%;
  margin: 0 auto;
}

/* student topic content */
#wrapper {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;
}


.sizeExp{
  margin:10px;
  width: 200px;o
  height: 100px;
  background: #15ecff; /*3EB489*/
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  text-align: center;
  transition: 1s;
}

.sizeExp:hover{
  transform: scale(1.1);
  background: #15ecff;
  z-index: 2;
  box-shadow: 2px 2px 2px #000;
}

.innerTopic{
  font-size: .75em;
  color: black;
  line-height: 100px;
  font-family: monospace;
  text-decoration: none;
}

/* topic content specific styles */
.title_sizing{
  height: 30px;
}
.topic_content_inpage{
    display:flex;
    justify-content: center;
}

.topic_contentBox{
  top: 20px;
  width: 800px;
}

.mainContentOutter{
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}






/* student path > contetn >tab sliding feature */
.tabcontent{
display: none;
animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

#Topics{
  display: Block;
}

/* teacher path  */
.teacher_topicMaterial{
  width: 96%;
  padding: 8px;
  margin: 60px auto;
  /* background: #ddd; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  border:2px solid violet;
}

.ContBox{
  width: 250px;
  height: 380px;
  background: #fff;
  margin: 0px 10px;
  transition: 1s;
}

.ContBox:hover {
  transform: scale(1.1);
  background: #FFFEC2;
  z-index: 2;
  box-shadow: 2px 2px 2px #000;
}




/* reseacher contents */
.researcher_content{
  width: 90%;
  padding: 20px;
  margin: 60px auto;
  /* background: #ddd; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  border:2px solid violet;
}
