/* @import ''; */
#myman{
  background-color: cornflowerblue;
}

body{
  background: linear-gradient(.75turn, #00b8fff2,#b8abf3);
}

#contentContainer{
  display: flex;
  border: 1px solid yellow;
  justify-content: center;

}
#ScrnMenu{
    width: 91px;
    height: 168px;
    padding: 14px;
    margin: 10px;
    margin-top: 210px;
    border-style: solid;
    border-width: 2px;
}

#menulist{
  list-style: none;
  padding: 0px;
  margin: 0px;

}

li{
  padding-bottom:10px;
}

#infoScrn{
/* border:2px solid black; */
background: white;
width: 690px;
height: 515px;
margin: 10px;
padding: 14px;
}





















/* button styling */
button{
  display: inline-block;
  padding: 10px 22px;
  border: 1px solid;
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif;
}

/* .btnback{
  margin-top: 2px;
} */

.btnadjust{
    margin:20px;
}



/* containerFrame */
.containerFrame{
  height: 678px;
}

/* SelectContainer */

.SelectContainer{
  max-width: 898px;
  margin:0 auto;
  margin-top: 70px;
  border:1px solid pink;
  display: flex;
  align-items: center,stretch;
}

.select_path{
  background-color: yellow;
  margin: 10px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex:1;
  flex-wrap: wrap;
}

.select_path > *{
  flex:1 1 100%;
}

.select_path .btnNext{
  align-self: flex-end;
}

/* studentpath */
.rightCorner{
    margin-right: 30px;
    margin-top: 2px;

}
